/* styles.css *




/* style for whatever meh i'm too cool to care */


.circle {
    background-color: #fafafa;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 33rem;
    width: 33rem;
    border-radius: 50%;
  }
 
  .pbjim {
    width: 5%;
    position: fixed;
    top: -2.4rem;
  }
 
  .img1 {
    width: 40%;
    position: relative;
    top: -2.4rem;
  }
 
  /* Style for images */
  .img {
      width: 300px;
      float: left;
      margin-right: 10px;
  }
 
  /* Style for subtitles */
  .subtitle {
      font-size: 80%;
  }
 
  .header {
    font-size: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
  }


  .normy {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.citations {
    
}

.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}
