/* styles.css *




/* style for whatever meh i'm too cool to care */


 
  .pbjim {
    width: 5%;
    position: fixed;
    top: -2.4rem;
  }
 
  .img1 {
    width: 40%;
    position: relative;
    top: -2.4rem;
  }
 

 
  /* Style for subtitles */
  .subtitle {
      font-size: 80%;
  }
 
  .header {
    font-size: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
   text-align: center;
  }


  .normy {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.citation {
    background-color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clink{

    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-bottom: 5px;
}

.img-with-text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.items{
text-align:center;
margin:50px auto;}


.items figure{
margin:0px 20px;
display:inline-block;
text-decoration:none;
color:black;}
