/* styles.css *


/* style for whatever meh i'm too cool to care */

.circle {
  background-color: #fafafa;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 33rem;
  width: 33rem;
  border-radius: 50%;
}

.pbjim {
  width: 40%;
  position: relative;
  top: -2.4rem;
}

.img1 {
  width: 40%;
  position: relative;
  top: -2.4rem;
}

/* Style for images */
img {
    width: 80px;
    float: left;
    margin-right: 10px;
}

/* Style for subtitles */
.subtitle {
    font-size: 80%;
}
